<nav>
  <div
    class="navbar md:container md:mx-auto flex justify-between text-yellow-pantone text-xl font-medium"
  >
    <div class="flex m-5 items-center">
      <img
        src="../assets/images//juicy-n-yummy.png"
        alt="juicy-n-yummy"
        width="40px"
        height="40px"
        class="rounded-full"
      />
      <h4 class="mx-5">Juicy N' Yummy</h4>
      <div class="flex items-center text-black opacity-50 bg-white h-full rounded-full">
        <label for="search_bar">
          <img
            src="../assets/images/search.svg"
            width="20px"
            alt="search"
            class="mx-3"
        /></label>
        <input
          class="outline-none w-80 bg-transparent"
          id="search_bar"
          type="text"
        />
      </div>
    </div>
    <div class="flex m-5 items-center">
      <h4 class="mx-6">Add Restaurant</h4>
      <h4 class="mx-6">Log in</h4>
      <h4 class="mx-6">Sign up</h4>
    </div>
  </div>
</nav>

