<div class="login grid justify-items-end">
  <div class="flex justify-center items-center h-screen w-2/5">
    <div class="bg-white w-4/5 h-4/5 flex flex-col px-20 rounded-3xl">
      <div class="mt-20">
        <p class="text-4xl font-medium">Log in</p>
        <p>
          or
          <a routerLink="/auth/signup" class="text-flicker-pink font-medium"
            >Sign up</a
          >
        </p>
      </div>
      <form action="" class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Phone No.</mat-label>
          <input class="p-2" matInput placeholder="Phone No." />
        </mat-form-field>
        <button
          type="submit"
          class="bg-flicker-pink m-2 text-base rounded-lg text-white text-center py-3 px-8 mx-auto"
        >
          Log in
        </button>
      </form>
      <p class="text-xs text-center px-10 pt-5">
        By clicking on Login,<span class="font-bold">
          I accept the Terms & Conditions & Privacy Policy
        </span>
      </p>
    </div>
  </div>
</div>
