/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Farro", sans-serif;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.8em;
}

 
body::-webkit-scrollbar-thumb {
  background-color: #F72585;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
