<div style="height: 80vh; width: 60vw">
  <div
    class="flex justify-between text-3xl items-center font-medium text-flicker-pink m-5"
  >
    MY CART
    <button mat-button mat-dialog-close>
      <svg
        width="40"
        height="37"
        viewBox="0 0 40 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.686069 8.22314C1.03726 7.60777 1.54016 7.09495 2.14573 6.73471C2.75129 6.37447 3.43884 6.1791 4.14131 6.16766H30.1572L31.3361 1.52226C31.4552 1.07384 31.7209 0.6794 32.09 0.4032C32.4591 0.127001 32.9097 -0.01469 33.3686 0.0012055H37.4336C37.9726 0.0012055 38.4896 0.217765 38.8708 0.603243C39.2519 0.988721 39.4661 1.51154 39.4661 2.05669C39.4661 2.60184 39.2519 3.12466 38.8708 3.51014C38.4896 3.89561 37.9726 4.11217 37.4336 4.11217H34.9133L29.3036 25.2014C29.1845 25.6499 28.9188 26.0443 28.5497 26.3205C28.1806 26.5967 27.73 26.7384 27.2711 26.7225H8.97865C8.60331 26.7213 8.23562 26.6151 7.91633 26.4156C7.59704 26.216 7.33863 25.931 7.16973 25.592L0.503143 12.108C0.214195 11.4955 0.0796776 10.8202 0.111595 10.1423C0.143513 9.46444 0.340878 8.80511 0.686069 8.22314Z"
          fill="#F72585"
        />
        <path
          d="M28.2877 37C26.6039 37 25.2389 35.6196 25.2389 33.9167C25.2389 32.2139 26.6039 30.8335 28.2877 30.8335C29.9715 30.8335 31.3365 32.2139 31.3365 33.9167C31.3365 35.6196 29.9715 37 28.2877 37Z"
          fill="#F72585"
        />
        <path
          d="M7.96268 37C6.27891 37 4.91394 35.6195 4.91394 33.9167C4.91394 32.2139 6.27891 30.8335 7.96268 30.8335C9.64645 30.8335 11.0114 32.2139 11.0114 33.9167C11.0114 35.6195 9.64645 37 7.96268 37Z"
          fill="#F72585"
        />
      </svg>
    </button>
  </div>
  <div class="m-5 mt-10 flex">
    <div class="cart-item w-3/5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, facilis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sit saepe
      quis voluptatem excepturi velit? Doloribus eius consequatur exercitationem
      quasi. Illum, necessitatibus. Dolore facilis incidunt eius porro optio
      corrupti, aliquid provident dolor possimus? Assumenda dolores beatae
      repellat impedit est nesciunt pariatur quo ratione minus ut ipsam velit,
      magnam exercitationem suscipit! Libero mollitia autem dignissimos earum
      soluta atque quod? Dicta non id autem nihil minima. Quasi, explicabo vero!
      Culpa, obcaecati modi nulla iusto aut, nam consequatur perspiciatis
      aliquid at earum facilis, voluptates corrupti ad animi. Voluptate
      assumenda esse sed at saepe perspiciatis, laudantium amet modi nesciunt
      ipsum officiis aspernatur? Magnam, eveniet!
    </div>
    <div class="w-2/5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, facilis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sit saepe
      quis voluptatem excepturi velit? Doloribus eius consequatur exercitationem
      quasi. Illum, necessitatibus. Dolore facilis incidunt eius porro optio
      corrupti, aliquid provident dolor possimus? Assumenda dolores beatae
      repellat impedit est nesciunt pariatur quo ratione minus ut ipsam velit,
      magnam exercitationem suscipit! Libero mollitia autem dignissimos earum
      soluta atque quod? Dicta non id autem nihil minima. Quasi, explicabo vero!
      Culpa, obcaecati modi nulla iusto aut, nam consequatur perspiciatis
      aliquid at earum facilis, voluptates corrupti ad animi. Voluptate
      assumenda esse sed at saepe perspiciatis, laudantium amet modi nesciunt
      ipsum officiis aspernatur? Magnam, eveniet!
    </div>
  </div>
</div>
