<div class="flex">
  <div class="border-taupe-gray h-full border-r-2 h-full">
    <ul class="text-xl font-regular">
      <li class="ml-14 cursor-pointer w-52 py-4 text-taupe-gray">All</li>
      <li class="ml-14 cursor-pointer w-52 py-4 text-taupe-gray">Pizza</li>
      <li class="ml-14 cursor-pointer w-52 py-4 text-taupe-gray">Burger</li>
      <li class="ml-14 cursor-pointer w-52 py-4 text-taupe-gray">Cake</li>
      <li class="ml-14 cursor-pointer w-52 py-4 text-taupe-gray">
        Cold Drinks
      </li>
    </ul>
  </div>
  <div class="ml-20 mt-10 flex justify-center">
    <form action="" class="flex items-center">
      <div class="flex pb-5">
        <label for="image"
          ><div
            class="h-52 w-52 rounded-xl border-2 border-dashed border-taupe-gray flex items-center justify-center"
          >
            <span class="text-taupe-gray"> Image Here</span>
          </div></label
        >
        <input type="file" name="image" id="image" class="hidden" />
      </div>
      <div class="flex flex-col ml-5">
        <mat-form-field appearance="outline">
          <mat-label>Food Name</mat-label>
          <input class="" matInput placeholder="Phone No." />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input class="" matInput placeholder="Phone No." />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <input class="" matInput placeholder="Phone No." />
        </mat-form-field>
      </div>
      <div class="text-lg">
        <button class="mx-5 text-base text-taupe-gray">Cancel</button>
        <button class="text-flicker-pink font-medium">Save</button>
      </div>
    </form>
  </div>
</div>
